{%- block file_entity_widget -%}
    <div id="{{ form.vars.id }}" {{ value ? DATA_ATTRIBUTE : '' }}>
        {% if value %}
            {{ form_widget(form.action, {
              attr: {'class': 'mb-3'}
            }) }}

            {{ form_row(form.file, {
              attr: {style: 'display:none'}
            }) }}
        {% else %}
            {{ form_row(form.file) }}
        {% endif %}

        {{ form_rest(form) }}
    </div>
{%- endblock -%}
