{%- block file_entity_widget -%}
    <div id="{{ form.vars.id }}">
        {% if current_file %}
            {{ form_widget(form.action, {
              attr: {'class': 'mb-3'}
            }) }}

            {{ form_row(form.file, {
              attr: {style: 'display:none'}
            }) }}
        {% else %}
            {{ form_row(form.file) }}
        {% endif %}

        {{ form_rest(form) }}
    </div>

    {% if current_file %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const actionReplace = {{ action_replace|json_encode|raw }};

            const fileWidgetId = {{ form.file.vars.id|json_encode|raw }};

            const fileWidget = document.getElementById(fileWidgetId);

            const fileRequired = {{ file_required|json_encode|raw }};

            const form = fileWidget.closest('form');

            const radioName = {{ form.action.vars.full_name|json_encode|raw }};

            const radios = form.elements[radioName];

            function toggleFileWidget() {
                const isReplace = radios.value === actionReplace;

                fileWidget.style.display = isReplace ? '' : 'none';

                fileWidget.required = isReplace ? fileRequired : false;
            }

            radios.forEach((radio) => {
                radio.addEventListener('change', toggleFileWidget);
            });
        });
    </script>
    {% endif %}
{%- endblock -%}
