{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}Files{% endblock %}

{% block breadcrumbs %}
{{ bootstrap_breadcrumbs(
  bootstrap_breadcrumb(bootstrap_icon('folder-fill') ~ ' Files', 'file_index'),
) }}
{% endblock %}

{% block actions %}
{% set file_voter = 'OHMedia\\FileBundle\\Security\\Voter\\FileVoter' %}

{% set file_folder_voter = 'OHMedia\\FileBundle\\Security\\Voter\\FileFolderVoter' %}

{% set attributes = {
  file: {
    create: constant(file_voter ~ '::CREATE'),
  },
  folder: {
    create: constant(file_folder_voter ~ '::CREATE'),
  },
} %}

<div class="btn-group btn-group-sm" role="group">
  {% include '@OHMediaFile/file/_file_multiselect.html.twig' %}

  <div class="btn-group btn-group-sm" role="group">
    <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ bootstrap_icon('plus') }}
      New
    </button>
    <ul class="dropdown-menu">
      {% if is_granted(attributes.folder.create, new_folder) %}
        <li>
          <a href="{{ path('file_folder_create_no_folder') }}" class="dropdown-item">
            {{ bootstrap_icon('folder-fill') }}
            Folder
          </a>
        </li>
      {% endif %}
      {% if is_granted(attributes.file.create, new_file) %}
      <li>
        <a href="{{ path('file_create_no_folder') }}" class="dropdown-item">
          {{ bootstrap_icon('file-earmark-fill') }}
          File
        </a>
      </li>
        <li>
          <a href="{{ path('image_create_no_folder') }}" class="dropdown-item">
            {{ bootstrap_icon('file-earmark-image') }}
            Image
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% block main %}
{{ file_limit() }}

<div class="card">
  <div class="card-body">
    <h1 class="card-title">{{ bootstrap_icon('folder-check') }} /</h1>

    {% include '@OHMediaFile/file/_file_listing.html.twig' with {
      items: items,
      back: false,
      parent: null,
      multiselect_form: multiselect_form,
    } only %}
  </div>
</div>
{% endblock %}
