<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-{{ class_name }}" style="width: {{ percent }}%"></div>
</div>

<small class="d-block text-muted text-end mb-3">
  <span data-bs-toggle="tooltip" data-bs-title="Total for all files across all site content." class="bi bi-info-circle"></span>
  {{ format_bytes_binary(usage, 2) }}
  /
  {{ format_bytes_binary(limit, 2) }}
</small>
